
/*Media query Ipad*/
@media screen and (max-width: 667px) and (min-width: 375px) {
  /*Barra lateral*/
  #nav-bar-container{
    width: 100px;
    height: 100%;
    display: flex;
  }
  /*div onde guarda titulo Principal*/
  #slaca-2019{
    width: 100px;
  }
  /*imagem slaca*/
  #slaca-imagem{
    width: 100px;
    left: 0;
    top: 5%;
  }

  /*Links de navegação barra esquerda*/
  #main-navigation{
    width: 100px;
    top: 30%;
  }

  /*Itens links de navegação*/
  #main-navigation ul li{
    width: 100px;
    padding-left: 10px;
    font-size: 10px;
  }


  /*Header da página*/
  #head-principal{
    height: 60px;
    padding-left: 21%;
  }
  /*Principal titulo*/
  #head-principal h1 {
    font-size: 10px;
  }
  /*Paragrafo do titulo*/
  #head-principal p{
    font-size: 8px;
  }
  /*ISSN 123...*/
  #head-principal span {
    font-size: 8px;
  }

  /*Botão PT-BR*/
  #botao-pt-br{
    width: 40px;
    height: 20px;
    line-height: 15px;
    left: 83.5%;
    padding-top: 1px;
    top: 0%;
    font-size: 8px;
  }

  /* Usuario header onde fica foto e email CONTAINER*/
  .usuario-header{
    width: 150px;
    height: 34px;
    flex-direction: row;
    padding-left: 0%;
    margin-left: -12%;
    margin-top: 20px;
  }


  /*Foto usuario*/
  #photo-usuario{
    left: 95%;
    top: 4%;
    width: 20px;
    height: 20px;
  }
  /*Palavra bem vindo*/
  #bem-vindo{
    padding-left: 60%;
    font-size: 8px;
  }
  /*email*/
  #email{
    font-size: 8px;
  }


  /*Container principal da pagina*/
  #navegacao-principal {
    width: 385px;
    margin-left: 20%;
  }

  /*Principal texto da página*/
  #noticia-principal{
    width: 200px;
    height: 54px;
    font-size: 8px;
    padding-top: 15px;
    line-height: 10px;
  }

  /*Video que seria colocado na página*/
  #video-img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }


  /*Container dos botoes*/
  #botoes-container{
    height: 40px;
    margin-left: 58%;
    margin-top: -12.1%;
  }


  /*Container Detalhes da noticia*/
  #detalhes{
    width: 160px;
    height: 200px;
    margin-left: 56%;
    margin-top: 5%;
    font-size: 8px;
    overflow-x: auto;
  }

  
  /*Botoes principais do site do noticia*/
  #download{
    width: 40px;
    height: 28px;
    font-size: 5px;
  }


  /*Link citação do trabalho*/
  #link-citacao{
    text-align: center;
    margin-top: 50px;
    margin-left: -71px;
    font-size: 10px;
  }



  /*Resumo noticia principal*/
  #container-resumo{
    width: 380px;
    height: 280px;
    margin-top: 15%;
    overflow: hidden;
  }

  /*Palavra ver mais pra div descer*/
  #verMais {
    position: absolute;
    left: 84.1%;
    top: 66%;
    font-weight: bold;
  }


  /*    Discussões container    */
  #discussoes-container{
    width: 380px;
    height: 965px;
    margin-top: 20%;
  }



  /*  Área de discussões com CRUD onde tem likes e coração*/
  #container-divs{
    width: 380px;
    height: 588px;
    margin-left: 20.1%;
    margin-top: -38.6%;
  }


  /*Footer*/
  #foot-container{
    width: 350px;
    margin-left: 25%;
    margin-top: 10%;
  }
  #foot-container #div-text{
    word-wrap: break-word;
    font-size: 10px;
  }




  /*   Utilizando JS classes  */
  /*Qnd usuário clicar em enviar topico, essas divs la no js vão sumir com display none*/
  #compartilhe-ideias,
  #imagens-autores,
  #paragrafo-discussao,
  #btn-criar-topico{
    display: block;
  }

  /* paragrafoSugestao que aparece: tem uma duvida ou sugestao*/
  #paragrafoSugestao{
    margin-top:10%;
    width:365.37px;
  }

  /*Assunto h3*/
  #h3Assunto{
    margin-top: 12%;
    margin-left: -75%;
  }

  /*Input assunto*/
  #inputAssunto{
    width: 360px;
    padding-left: 6px;
  }

  /*Conteudo do input h3*/
  #h3_conteudo {
    margin-top: 5%;
    margin-left: -73%;
  }

  /*input Conteudo*/
  #inputConteudo{
    width: 360px;
    height: 113px;
    margin-top: -158%;
    margin-left: 2%;
  }
  #italic{
    left: 20%;
  }
  #bold{
    top: 24.5%;
    left: 3.7%;
  }
  #cinza{
    width: 190px;
    height: 40px;
    margin-top: -142.5%;
    margin-left: 2.2%;
  }


  /*Estilização do container após clicar em ver mais*/
  #container-divsVerMais{
    margin-top: 60%;
    margin-left: 19.1%;
    width: 380px;
    height: 588px;
    overflow: auto;
  }



  /*Mensagem que aparece quando topico for enviado*/
  #topico-enviado-container{
    width: 290px;
    height: 330px;
    position: absolute;
    left: 5.7%;
    display: none;
    word-wrap: break-word;
  }
  #topicoSucesso{
    width: 380px;
    position: absolute;
    top: 38%;
  }
  #topico-enviado-container p{
    width: 240px;
    margin-left: 48%;
    margin-top: 55%;
  }
  #topico-enviado-container a{
    width: 280px;
    height: 20px;
    margin-top: 10%;
    margin-left: 45%;
    position: absolute;
    text-align: center;
  }
  #topico-enviado-container button{
    margin-top: 40%;
    margin-left: 50%;
    width: 235.15px;
    height: 32px;
  }


  /*Div que aparece de feedback quando usuario envia*/
  #aguardo-feedback{
    width: 214px;
    height: 210px;
    left: 34%;
    top: 231%;
  }

  #aguardo-feedback #editarTopico{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 34%;
    left: 30%;
    bottom: 1%;
  }
}
