
/*Media query Laptop*/
@media screen and (max-width: 1440px) and (min-width: 900px) {
  /*Barra lateral*/
  #nav-bar-container{
    width: 300px;
  }
  /*div onde guarda titulo Principal*/
  #slaca-2019{
    width: 300px;
  }

  /*imagem slaca*/
  #slaca-imagem{
    left: 2.5%;
  }

  /*Links de navegação barra esquerda*/
  #main-navigation{
    width: 300px;
    top: 45%;
  }

  /*Itens links de navegação*/
  #main-navigation ul li{
    width: 300px;
  }


  /*Header da página*/
  #head-principal{
    height: 80px;
    padding-left: 25%;
  }

  /*Botão PT-BR*/
  #botao-pt-br{
    width: 80px;
    position: absolute;
    left: 74%;
  }

  /* Usuario header onde fica foto e email CONTAINER*/
  .usuario-header{
    line-height: 17.5px;
    width: 150px;
    height: 34px;
    /*Mudar isso aqui*/
    margin-left: 12.1%;
    margin-top: 20px;
  }

  /*Section filha imediata de head-principal*/
  #head-principal > section{
    padding-left: 1px;
    padding-top: 10px;
  }

  /*Foto usuario*/
  #photo-usuario{
    left: 93.2%;
    top: 2%;
  }

  /*Container principal da pagina*/
  #navegacao-principal {
    width: 1005px;
    margin-left: 24.8%;
  }

  /*Principal texto da página*/
  #noticia-principal{
    width: 586px;
    height: 54px;
    font-size: 16px;
    padding-top: 18px;
  }

  /*Video que seria colocado na página*/
  #video-img{
    width: 650px;
    height: 360px;
    margin-top: 25px;
  }


  /*Container dos botoes*/
  #botoes-container{
    width: 220px;
    height: 40px;
    margin-left: 78%;
    margin-top: -3.1%;
  }

  /*Link citação do trabalho*/
  #link-citacao{
    margin-left: -37px;
  }

  /*Container Detalhes da noticia*/
  #detalhes{
    width: 242px;
    height: 360px;
    margin-left: 75%;
    margin-top: 4%;
  }



  /*Resumo noticia principal*/
  #container-resumo{
    width: 1000px;
    margin-top: 7%;
    /*Paragrafos não sairem da div*/
    overflow: hidden;
  }
  /*Palavra ver mais pra div descer*/
  #verMais {
    position: absolute;
    left: 45.7%;
    top: 100.9%;
  }


  /*    Discussões container    */
  #discussoes-container{
    width: 1000px;
    height: 910px;
  }



  /*  Área de discussões com CRUD onde tem likes e coração*/
  #container-divs{
    width: 994px;
    height: 500px;
    margin-left: 25.1%;
    margin-top: -10%;
  }


  /*Footer*/
  #foot-container{
    width: 800px;
    margin-left: 25%;
  }




  /*   Utilizando JS classes  */
  /*Qnd usuário clicar em enviar topico, essas divs la no js vão sumir com display none*/
  #compartilhe-ideias,
  #imagens-autores,
  #paragrafo-discussao,
  #btn-criar-topico{
    display: block;
  }

  /* paragrafoSugestao que aparece: tem uma duvida ou sugestao*/
  #paragrafoSugestao{
    margin-top:5%;
    width:765.37px;
  }


  /*Input assunto*/
  #inputAssunto{
    width: 980px;
    padding-left: 6px;
  }

  /*Conteudo do input h3*/
  #h3_conteudo {
    margin-top: 4.1%;
  }

  /*input Conteudo*/
  #inputConteudo{
    width: 980px;
    height: 113px;
    margin-left: 0.5%;
    margin-top: -49%;
  }
  #bold{
    top: 24.5%;
    left: 3.7%;
  }
  #cinza{
    width: 954px;
    height: 40px;
    margin-top: -43.9%;
    margin-left: 0.5%;
  }


  /*Estilização do container após clicar em ver mais*/
  #container-divsVerMais{
    margin-top: 22%;
    margin-left: 25.1%;
    width: 994px;
    height: 488px;
    overflow: auto;
  }



  /*Mensagem que aparece quando topico for enviado*/
  #topico-enviado-container{
    width: 790px;
    height: 330px;
    position: absolute;
    left: 30.7%;
    display: none;
    word-wrap: break-word;
  }
  #topicoSucesso{
    width: 380px;
    position: absolute;
    top: 24%;
  }
  #topico-enviado-container p{
    width: 740px;
    margin-left: 4%;
    margin-top: 15%;
  }
  #topico-enviado-container a{
    width: 280px;
    height: 20px;
    margin-top: 7%;
    margin-left: 34%;
    position: absolute;
    text-align: center;
  }
  #topico-enviado-container button{
    margin-top: 17%;
    margin-left: 37%;
    width: 235.15px;
    height: 32px;
  }


  /*Div que aparece de feedback quando usuario envia*/
  #aguardo-feedback{
    width: 314px;
    height: 210px;
    left: 49%;
    top: 170%;
  }

  #aguardo-feedback #editarTopico{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 35%;
    bottom: 1%;
  }
}