/*Font inter, quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  height: 200vh;
  width: 100vw;
}

/*Barra lateral*/
#nav-bar-container{
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);  
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
/*div onde guarda titulo Principal*/
#slaca-2019{
  width: 400px;
  height: 68px;
  position: fixed;
  left: 0%;
  background: linear-gradient(#FFB354,#EE7A3A);
  text-align: center;
}
/*titulo*/
#slaca-2019 h1 {
  line-height: 64px;
  color: white;
  font-weight: bolder;
}
/*imagem slaca*/
#slaca-imagem{
  position: fixed;
  left: 5%;
  margin-top: 5%;
}

/*Links de navegação barra esquerda*/
#main-navigation{
  /*layout original
  width: 220px;
  */
  width: 400px;
  height: 223px;
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  top: 45%;
}
/*Lista link de navegação*/
#main-navigation ul {
  list-style-type: none;
  line-height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  padding: 7px 97px 7px 0px;
}
/*Itens links de navegação*/
#main-navigation ul li{
  width: 400px;
  height: 33px;
  box-shadow: 0px 1px rgba(107, 107, 107, 0.25);   /* 0px ? 1px bottom*/
  padding-left: 42px;
}

/*Barrinha laranja nos links*/
.orange-bar{
  width: 5px;
  height: 33px;
  background: linear-gradient(#FFB455,#ED7839);
  position: absolute;
  left: 0%;
  display: none;
}

/*Efeito após passar mouse nos links*/
#main-navigation ul li:hover {
  background-color: #FDF1EB;
  cursor: pointer;
}
/*Assim que pasar o mouse nos <li> vai afetar a classe .orange-bar*/
#main-navigation ul li:hover .orange-bar{
  display: block;
}




/*Header da página*/
#head-principal{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 26%;
  background-color: #FDF1EB;
}
/*Principal titulo*/
#head-principal h1 {
  font-size: 22px;
  font-weight: 400;
  color: #725C5C;
}
/*Paragrafo do titulo*/
#head-principal p{
  color: #725C5C;
  font-size: 14px;
  font-weight: 400;
}
/*ISSN 123...*/
#head-principal span {
  color: #725C5C;
  font-size: 14px;
}

/*Botão PT-BR*/
#botao-pt-br{
  width: 97px;
  height: 34px;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  padding: 8px 24px 8px 31px;
  border: 1px solid #bebebe;
  background-color: #FDF1EB;
  border-radius: 3px;
  position: absolute;
  top: 17px;
  left: 72%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* Usuario header onde fica foto e email CONTAINER*/
.usuario-header{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  width: 202px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding-left: 21%;
  line-height: 18px;
  margin-top: 13px;
}
/*Lista que acopla email*/
.usuario-header ul {
  list-style-type: none;
  font-weight: 600;
}
/*Foto usuario*/
#photo-usuario{
  position: absolute;
  left: 92%;
  top: 1%;
}
/*Palavra bem vindo*/
#bem-vindo{
  padding-left: 62%;
}




/*Container principal da pagina*/
#navegacao-principal {
  /*layout original
  width: 1120px;
  */
  width: 1220px;
  margin-left: 26%;
  height: 100%;
  word-wrap: break-word;
}

/*Principal texto da página*/
#noticia-principal{
  width: 786px;
  height: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 5%;
  color: #ED7839;
  padding-top: 20px;
  margin-left: 0%;

}

/*Video que seria colocado na página*/
#video-img{
  width: 783px;
  height: 439px;
  border-radius: 3px;
  margin-top: 49px;
}


/*Container dos botoes*/
#botoes-container{
  width: 200px;
  height: 40px;
  margin-left: 75%;
  margin-top: -2.1%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

/*Botoes principais do site do noticia*/
#download{
  width: 120px;
  height: 31px;
  background-color: #ED7839;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 11px;
  margin-right: 10px;
}
#download:hover {
  background-color: #ff9c67;
  cursor: pointer;
}
/*Botão estrela*/
#estrela {
  width: 43px;
  height: 31px;
  background-color: #ED7839;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  padding: 5px;
}
#estrela:hover {
  background-color: #ff9c67;
  cursor: pointer;
}

/*Botão doi*/
#doi {
  width: 43px;
  height: 31px;
  background-color: #ED7839;
  border: none;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
#doi:hover {
  background-color: #ff9c67;
  cursor: pointer;
}

/*Link citação do trabalho*/
#link-citacao{
  width: 280px;
  height: 25px;
  text-align: center;
  margin-top: 80px;
  margin-left: -40px;
  position: absolute;
  letter-spacing: 5%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ED7839;
  text-decoration: none;
  line-height: 25px;
}

#link-citacao:hover {
  color: #ff9c67;
  cursor: pointer;
}



/*Container Detalhes da noticia*/
#detalhes{
  font-family: 'Roboto', sans-serif;
  width: 242px;
  height: 439px;
  /*position: absolute;
  top: 148px;
  left: 840px;
  */
  display: flex;
  flex-direction: column;
  
  border: 1px solid rgba(160, 160, 160, 0.267);
  overflow: scroll;
  overflow-x: hidden;
  margin-left: 73%;
  margin-top: 4.5%;
}
/*Barra de navegação da div*/
#detalhes::-webkit-scrollbar{
  height: 1px;
  width: 5px;
}
/*Cor da barra*/
#detalhes::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #BFBFBF;
}
/*Cor do caminho*/
#detalhes::-webkit-scrollbar-track {
  background: #e0e0e0;       
}

/*Titulo do container */
#detalhes h3 {
  background-color: #FDF1EB;
  color: #4E4E4E;
  width: 242px;
  height: 45px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 11px 15px 9px 15px;
  box-shadow: 1px 1px rgba(114, 114, 114, 0.25);   /* 0px ? 1px bottom*/
}
/*AUTORES*/
#detalhes h4{
  font-weight: 600;
  color: #4E4E4E;
  padding-left: 10px;
}

/*Lista dentro da div*/
#detalhes ul {
  list-style-type: none;
  padding-left: 10px;
  padding-top: 10px;
  width: 212px;
  height: 164px;
}
#detalhes ul li {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2%;
}
/*Espaçamento no meio dos <li's>*/
#espacamento{
  margin-top: 30px;
}



/*Resumo noticia principal*/
#container-resumo{
  font-family: 'Roboto', sans-serif;
  width: 1130px;
  height: 200px;
  border: 1px solid #c7c7c7;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Resumo tag h3*/
#resumo-noticia{
  width: 100%;
  height: 45px;
  background-color: #FDF1EB;
  color: #4E4E4E;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  padding-left: 20px;
}

/*Paragrafos da noticia*/
#paragrafos-resumo-noticia{
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
  text-align: justify;
  letter-spacing: 2%;
  color: #5C5C5C;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
/*Separador das noticias*/
.separador {
  line-height: 34px;
}

#verMais {
  color: #EE7A3A;
  font-weight: bold;
}
#verMais:hover{
  color:#ffab7e;
  cursor: pointer;
}

/*Esconder divs*/
#paragrafos-ocultos{
  display: none;
}


/*                        Essa parte vai prevalecer JS     */


/*    Discussões container    */
#discussoes-container{
  font-family: 'Roboto', sans-serif;
  width: 1130px;
  height: 840px;
  border: 1px solid #c7c7c7;
  margin-top: 50px;
  /*Centralizei todos os elementos com flex*/
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*Titulo*/
#discussoes-titulo{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  width: 100%;
  height: 45px;
  background-color: #FDF1EB;
  color: #4E4E4E;
  padding-left: 20px;
}

/*Palavra dentro do botão*/
#discussoes-container span {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ED7839;
  width: 525px;
  text-align: center;
  height: 22px;
  margin-top: 15px;

}

/*Paragrafo de discussao*/
#paragrafo-discussao{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;

}
/*Botão de criar tópico*/
#btn-criar-topico{
  margin-top: 20px;
  height: 40px;
  background: linear-gradient(#FEB254, #F0813D);
  text-align: center;
  border: none;
  box-sizing: content-box;
  width: 150px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
#btn-criar-topico span {
  color: white;
  padding-right: 5px;
  padding-bottom: 30px;
}
#plus{
  height: 17px;
  margin-top: 1px;
}
#btn-criar-topico:hover{
  background: linear-gradient(#ffbb68, #ff9d60);
  cursor: pointer;
}




/*          Área de discussões com CRUD onde tem likes e coração        */
#container-divs{
  border-radius: 4px;
  width: 1090px;
  height: 158px;
  display: flex;
  flex-direction: column;
  margin-left: 27.1%;
  margin-top: -36.6%;
}

/*Estilização do container após clicar em ver mais*/
#container-divsVerMais{
  margin-top: -10%;
  margin-left: 27.1%;
  width: 1090px;
  height: 158px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}


.ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  padding-left: 15px;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
  border: 1px solid #55555542;
  margin-top: 2%;

}
#autor{
  margin-top: 3px;
}

/*Botões de like*/
.ul ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  margin-left: -10px;
  align-items: flex-start;
}

.ul ul li {
  margin-left: 5px;
  margin-right: 5px;
}
.ul li p {
  margin-top: 15px;
}
#autor{
  padding-top: 2px;
}



/*Assunto do paragrafo*/
#assunto-pergunta{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  width: 267px;
  height: 20px;
  color: #ED7839;
  font-size: 16px;
  line-height: 10px;
  padding-top: 8px;
}
#autor{
  color: #5C5C5C;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}



/*Footer*/
#foot-container{
  font-family: 'Quicksand', sans-serif;
  width: 1086px;
  height: 181px;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 28%;
  margin-top: 25%;

}
#div-text p{
  padding: 7px;
  font-weight: 500;
}


/*Deixar div do isuario com blur*/
.blur{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  width: 100%;
  height: 100px;
}
.hidden{
  display: none;
}
#editar-topico{
  cursor: pointer;
}

/*                                            Utilizando JS classes                       */
/*Qnd usuário clicar em enviar topico, essas divs la no js vão sumir com display none*/
#compartilhe-ideias,
#imagens-autores,
#paragrafo-discussao,
#btn-criar-topico{
  display: block;
}

/* paragrafoSugestao que aparece: tem uma duvida ou sugestao*/
#paragrafoSugestao{
  position:absolute;
  margin-top:4%;
  width:965.37px;
  height:18px;
  text-align:center;
  font-Family:Quicksand;
}

/*Assunto do input*/
#h3Assunto{
  margin-top: 4.1%;
  margin-left: -90%;
  margin-bottom: 5px;
  color: #ED7839;
}
/*Input assunto*/
#inputAssunto{
  width: 1090px;
  height: 39px;
  border: 1px solid #CCC;
  color: #4D4D4D;
  text-align: start;
  line-height: 39px;
  font-weight: 500;
  font-size: 14px;
  padding-left: 22px;
}
/*Conteudo do input h3*/
#h3_conteudo {
  margin-top: 2.1%;
  margin-left: -89%;
  color: #ED7839;
}
/*input Conteudo*/
#inputConteudo{
  width: 1090px;
  height: 113px;
  border: 1px solid #CCC;
  color: #4D4D4D;
  margin-top: -38%;
  margin-left: 1.2%;
  position: absolute;
  text-align: start;
  line-height: 39px;
  font-weight: 500;
  font-size: 14px;
  padding-left: 22px;
  /*Remover borda do input quando clicado*/
  outline: 0;
}
#bold{
  width: 25px;
  height: 25px;
  margin-left: 0px;
  position: absolute;
  top: 26.5%;
  left: 4.7%;
  cursor: pointer;
}
#italic{
  width: 25px;
  height: 22px;
  margin-left: 16px;
  position: absolute;
  top: 30.5%;
  left: 7%;
  cursor: pointer;
}
#cinza{
  width: 1090px;
  height: 40px;
  margin-top: -33.7%;
  margin-left: 1.2%;
  position: absolute;
  background-color: #CCCCCC;
}

/*Botão de enviar que fica acoplado na div cinza*/
#buttonEnviar{
  width: 205px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#FEB154, #F1833E);
  cursor: pointer;
  position: absolute;
  left: 81.1%;
  display: block;
}

